name: 'Rebuild PHP development containers'

on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, reopened, labeled, synchronize ]
    branches:
      - main
  schedule:
    - cron: '0 3 * * 0'

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  version_matrix:
    name: Pre Build
    uses: ./.github/workflows/subflow-detect-versions.yml
    secrets: inherit

  build_main_image:
    name: Build Main Images
    needs: ['version_matrix']
    if: ${{ github.ref_name == 'main' }}
    uses: ./.github/workflows/subflow-build-container-images.yml
    secrets: inherit
    with:
      matrix: ${{ needs.version_matrix.outputs.matrix }}
      distribution: bookworm-slim
      max-retries: 3
      push: true

  build_pr_image:
    name: Build PR Images
    needs: ['version_matrix']
    if: ${{ github.ref_name != 'main' }}
    uses: ./.github/workflows/subflow-build-container-images.yml
    secrets: inherit
    with:
      matrix: ${{ needs.version_matrix.outputs.matrix }}
      distribution: bookworm-slim
      max-retries: 0
      push: false
